In [1]:
from sklearn.cluster import KMeans,MiniBatchKMeans
import matplotlib.pyplot as ptl
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler 
from sklearn.metrics import silhouette_score

from scipy.cluster.hierarchy import linkage,dendrogram
import matplotlib .pyplot as plt 
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
import seaborn as sns
import os

In [2]:
df=pd.read_csv("rfm_data_customer.csv",index_col=0)

In [3]:
df.head()

             revenue most_recent_visit  number_of_orders  recency_days
customer_id
22086            777        2006-05-14                 9           232
2290            1555        2006-09-08                16           115
26377            336        2006-11-19                 5            43
24650           1189        2006-10-29                12            64
12883           1229        2006-12-09                12            23

In [4]:
new_df=df.drop("most_recent_visit",axis=1)

In [5]:
new_df.head()

             revenue  number_of_orders  recency_days
customer_id
22086            777                 9           232
2290            1555                16           115
26377            336                 5            43
24650           1189                12            64
12883           1229                12            23

In [ ]:
scaler=StandardScaler().set_output(transform="pandas")
df_scaled=scaler.fit_transform(new_df)
link="average"
mergings=linkage(df_scaled,method=link)
dendrogram(mergings,labels =list(df_scaled.index))
plt.title(link+"linkage")
plt.xticks(rotation=90)
plt.show()

In [ ]:
ks=[2,3,4,5,6,7,8]
scores=[]
for i in ks:
    clust=MiniBatchKMeans(n_clusters=i,random_state=24)
    clust.fit(df_scaled)
    scores.append(silhouette_score(df_scaled,clust.labels_))
scores

In [ ]:
df_clust=df.copy()
df_clust["Clust"]=km.labels_
df_clust.sort_values("Clust")

In [ ]:
## centroid
df_clust.groupby("Clust").mean()

In [ ]:
rfm_0=df_clust[df_clust["Clust"]==0]
rfm_0[["revenue","number_of_orders","recency_days"]]