# pca analysis

In [4]:
import matplotlib.pyplot as plt
from sklearn.cluster import MiniBatchKMeans
from sklearn.model_selection import train_test_split
import pandas as pd
import numpy as np
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
import matplotlib.pyplot as plt 
from sklearn.decomposition import PCA
import seaborn as sns
from sklearn.datasets import load_wine

df = load_wine(return_X_y=True, as_frame=True)
X, y = df[0], df[1]

X_train, X_test, y_train, y_test = train_test_split(X, y,
         test_size=0.3,stratify=y, random_state=24)

scaler = StandardScaler().set_output(transform='pandas')
X_trn_scl = scaler.fit_transform(X_train)

prcomp = PCA().set_output(transform='pandas')
X_trn_pca = prcomp.fit_transform(X_trn_scl)

X_trn_pca = X_trn_pca.iloc[:,:6]

lr = LogisticRegression()
lr.fit(X_trn_pca, y_train)

X_tst_scl = scaler.transform(X_test)
X_tst_pca = prcomp.transform(X_tst_scl)

X_tst_pca = X_tst_pca.iloc[:,:6]
y_pred = lr.predict(X_tst_pca)
print(accuracy_score(y_test, y_pred))

1.0

# pca code with using pipeline

In [6]:
from sklearn.pipeline import Pipeline

In [8]:
scaler =StandardScaler()
prcomp=PCA()
lr =LogisticRegression()
pipe=Pipeline([("SCL",scaler),("PCA",prcomp),("ML",lr)])
pipe.fit(X_train,y_train)
y_pred=pipe.predict(X_test)
print(accuracy_score(y_test,y_pred))

1.0

# train model using Bankrupcy dataset with PCA

In [9]:
import os
os.chdir(r"C:\Users\dbda\Desktop\MACHINE LEARNING\cases\Bankruptcy")

In [10]:
df=pd.read_csv("Bankruptcy.csv",index_col=0)

In [11]:
df.head()

,D,YR,R1,R2,R3,R4,R5,R6,R7,R8,...,R15,R16,R17,R18,R19,R20,R21,R22,R23,R24
NO,,,,,,,,,,,,,,,,,,,,,
1,0,78,0.23,0.08,0.02,0.03,0.46,0.12,0.19,10.36,...,0.05,0.57,0.15,0.23,3.56,0.26,1.55,0.43,0.11,0.17
2,0,77,0.19,0.07,0.09,0.12,0.02,0.02,0.03,3.13,...,0.09,0.12,0.16,0.22,3.78,1.29,1.40,0.06,0.07,0.10
3,0,72,0.07,0.02,0.03,0.05,0.06,0.10,0.14,2.41,...,-0.03,0.02,0.02,0.04,13.29,1.61,1.43,0.03,0.05,0.07
4,0,80,0.07,0.03,0.04,0.04,0.04,0.06,0.06,5.55,...,-0.02,0.01,0.02,0.02,5.36,1.30,1.12,-0.06,-0.08,-0.09
5,0,81,0.09,0.02,0.03,0.04,0.06,0.08,0.11,2.85,...,0.02,0.07,0.10,0.14,7.74,1.48,1.41,0.03,0.04,0.06